@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply font-inter text-gray-800 bg-gray-50 overflow-x-hidden;
    }
}

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-cyan to-brand-blue;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .perspective-1000 {
        perspective: 1000px;
    }

    /* Custom Scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-gray-100;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-brand-blue/50 rounded-full hover:bg-brand-blue;
    }
}